.result.selected {
  background: rgba(0,136,204,0.80) !important;
}

.result.selected, .result.selected .resultTitle, .result.selected .resultGoLink, .result.selected .resultDescription {
  color: white !important;
  transition: none;
}

.result, .result .resultTitle, .result .resultGoLink, .result .resultDescription  {
  transition: all .15s ease-in-out;
}

.resultContents {
  border-bottom: 1px solid #d5d5d5;
  padding: 5px 20px;
  min-height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resultHeader {
  font-size: 20px;
  line-height: 30px;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .resultHeader {
    font-size: 16px;
  }
}

.resultTitle {
  color: #00a4bd;
  font-weight: 600;
  text-decoration: none;
}

.resultGoLink {
  margin-left: 5px;
  margin-right: 2px;
  font-size: 14px;
  font-style: italic;
  color: #888;
  white-space: nowrap;
}

.resultDescription {
  color: rgba(0,0,0,0.50);
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
  line-height: 1.5em;
  max-height: 3em;
}

@media only screen and (max-width: 600px) {
  .resultDescription {
    font-size: 12px;
  }
}
