name: CI

on: [push]

jobs:
  test-js:
    runs-on: ubuntu-latest
    steps:
    - name: Clone Repo
      uses: actions/checkout@master
    - name: Setup Node.js 12
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: NPM Install
      run: |
        npm install
      env:
        CI: true
    - name: Jest Tests
      run: |
        npm test
      env:
        CI: true

  build-site:
    runs-on: ubuntu-latest
    steps:
    - name: Clone Repo
      uses: actions/checkout@master
    - name: Setup Node.js 12
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: NPM Install
      run: |
        npm install
      env:
        CI: true
    - name: Build Site
      run: |
        cd nulinks-site
        npm run build
      env:
        CI: true

  run-prettier:
    runs-on: ubuntu-latest
    steps:
    - name: Clone Repo
      uses: actions/checkout@master
    - name: Setup Node.js 12
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: NPM Install
      run: |
        npm install
      env:
        CI: true
    - name: Lint
      run: |
        npm run lint
      env:
        CI: true

